<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="uploadDir" value="C:\Users\offa2\Desktop\files\Anatoly\digitalOwl\upload"/>
		<add key="archivedDir" value="C:\Users\offa2\Desktop\files\Anatoly\digitalOwl\archive"/>
		<add key="excelfile" value="C:\Users\offa2\Desktop\files\Anatoly\digitalOwl\excel\log.xlsx"/>
		<add key="buisnessLine" value="defBlTemp"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
